## Deliverable 2. Create a Customer Travel Destinations Map.

In [62]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np 

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Starosubkhangulovo,RU,53.1031,57.4423,-1.71,90,100,2.46,light snow
1,1,Busselton,AU,-33.6500,115.3333,73.99,52,14,5.01,few clouds
2,2,Mataura,NZ,-46.1927,168.8643,76.59,33,0,1.74,clear sky
3,3,Mar Del Plata,AR,-38.0023,-57.5575,63.00,51,0,4.61,clear sky
4,4,Longyearbyen,SJ,78.2186,15.6401,15.80,86,40,4.61,scattered clouds

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
2,2,Mataura,NZ,-46.1927,168.8643,76.59,33,0,1.74,clear sky
9,9,Rikitea,PF,-23.1203,-134.9692,78.39,77,13,19.91,few clouds
13,13,Ulladulla,AU,-35.3500,150.4667,89.01,40,0,6.91,clear sky
15,15,Kapaa,US,22.0752,-159.3190,78.80,73,1,8.05,light rain
18,18,Barreirinha,BR,-2.7933,-57.0700,75.87,89,83,1.54,broken clouds
19,19,Cidreira,BR,-30.1811,-50.2056,77.94,86,100,24.25,moderate rain
29,29,Hilo,US,19.7297,-155.0900,80.60,61,40,11.50,scattered clouds
31,31,Butaritari,KI,3.0707,172.7902,80.69,81,100,22.28,light rain
34,34,Kloulklubed,PW,7.0419,134.2556,78.80,94,90,4.61,moderate rain
38,38,Mana,GF,5.6592,-53.7767,77.40,85,27,10.60,scattered clouds

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        119
City           119
Country        119
Lat            119
Lng            119
Max Temp       119
Humidity       119
Cloudiness     119
Wind Speed     119
Description    119
dtype: int64

In [85]:
null_sum_preferred = preferred_cities_df["Max Temp"].isnull().sum()
null_sum

0

In [123]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()

In [101]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = "" # np.NaN
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
2,Mataura,NZ,76.59,clear sky,-46.1927,168.8643,
9,Rikitea,PF,78.39,few clouds,-23.1203,-134.9692,
13,Ulladulla,AU,89.01,clear sky,-35.3500,150.4667,
15,Kapaa,US,78.80,light rain,22.0752,-159.3190,
18,Barreirinha,BR,75.87,broken clouds,-2.7933,-57.0700,
19,Cidreira,BR,77.94,moderate rain,-30.1811,-50.2056,
29,Hilo,US,80.60,scattered clouds,19.7297,-155.0900,
31,Butaritari,KI,80.69,light rain,3.0707,172.7902,
34,Kloulklubed,PW,78.80,moderate rain,7.0419,134.2556,
38,Mana,GF,77.40,scattered clouds,5.6592,-53.7767,

In [102]:
row = hotel_df.iloc[0]
lat, lng = row['Lat'],row['Lng']
lat,lng

(-46.1927, 168.8643)

In [103]:
params["location"] = f"{lat},{lng}"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotels = requests.get(base_url, params=params).json()
hotels['results'][0]['name']

"Ellie's Villa"

In [104]:
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
2,Mataura,NZ,76.59,clear sky,-46.1927,168.8643,
9,Rikitea,PF,78.39,few clouds,-23.1203,-134.9692,
13,Ulladulla,AU,89.01,clear sky,-35.3500,150.4667,
15,Kapaa,US,78.80,light rain,22.0752,-159.3190,
18,Barreirinha,BR,75.87,broken clouds,-2.7933,-57.0700,
...,...,...,...,...,...,...,...
549,Isla Mujeres,MX,75.99,moderate rain,21.2311,-86.7310,
567,Macapa,BR,78.80,few clouds,0.0389,-51.0664,
568,Aquiraz,BR,80.60,scattered clouds,-3.9014,-38.3911,
569,Ilheus,BR,78.80,scattered clouds,-14.7889,-39.0494,
571,Trinidad,BO,78.22,overcast clouds,-14.8333,-64.9000,

In [105]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #print( hotels["results"][0]["name"])
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except Exception as e:
        print(f"Hotel not found... skipping. Error: {e} and Index: {index}")

Hotel not found... skipping. Error: list index out of range and Index: 190
Hotel not found... skipping. Error: list index out of range and Index: 204
Hotel not found... skipping. Error: list index out of range and Index: 217
Hotel not found... skipping. Error: list index out of range and Index: 498

In [106]:
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
2,Mataura,NZ,76.59,clear sky,-46.1927,168.8643,Ellie's Villa
9,Rikitea,PF,78.39,few clouds,-23.1203,-134.9692,Pension Maro'i
13,Ulladulla,AU,89.01,clear sky,-35.3500,150.4667,Sandpiper Motel
15,Kapaa,US,78.80,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
18,Barreirinha,BR,75.87,broken clouds,-2.7933,-57.0700,Hotel e Restaurante Tupana Iwato
...,...,...,...,...,...,...,...
549,Isla Mujeres,MX,75.99,moderate rain,21.2311,-86.7310,Hotel La Joya Isla Mujeres
567,Macapa,BR,78.80,few clouds,0.0389,-51.0664,Atalanta Hotel
568,Aquiraz,BR,80.60,scattered clouds,-3.9014,-38.3911,Pousada Rua Camurupim
569,Ilheus,BR,78.80,scattered clouds,-14.7889,-39.0494,Pontal Praia Hotel
571,Trinidad,BO,78.22,overcast clouds,-14.8333,-64.9000,Hotel Piesta

In [107]:
#find shape of df 
hotel_df.shape

(119, 7)

In [108]:
#add dataframe to vacarion search csv 
output_data_file = "vacation search/hotel_df.csv"
hotel_df.to_csv(output_data_file, index_label="Hotel_Name")

In [109]:
#find empty cells 
hotel_df.count()

City           119
Country        119
Max Temp       119
Description    119
Lat            119
Lng            119
Hotel Name     119
dtype: int64

In [110]:
#find empty cells 
pd.isna(hotel_df["Hotel Name"])

2      False
9      False
13     False
15     False
18     False
       ...
549    False
567    False
568    False
569    False
571    False
Name: Hotel Name, Length: 119, dtype: bool

In [111]:
#find empty cells 
null_sum = hotel_df["Hotel Name"].isnull().sum()
null_sum

0

In [112]:
#find empty cells 
hotel_df[(hotel_df["Hotel Name"].notnull()) & (hotel_df["Hotel Name"]!=u'') ].index

Int64Index([  2,   9,  13,  15,  18,  19,  29,  31,  34,  38,
            ...
            516, 518, 519, 526, 531, 549, 567, 568, 569, 571],
           dtype='int64', length=115)

In [113]:
hotel_df = hotel_df.loc[hotel_df['Hotel Name'] != '']

In [114]:
# 7. Drop the rows where there is no Hotel Name.

#clean_hotel_df = hotel_df.loc[hotel_df["Hotel_Name"] = NaN]

clean_hotel_df = hotel_df[hotel_df['Hotel Name'].notna()]

In [115]:
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
2,Mataura,NZ,76.59,clear sky,-46.1927,168.8643,Ellie's Villa
9,Rikitea,PF,78.39,few clouds,-23.1203,-134.9692,Pension Maro'i
13,Ulladulla,AU,89.01,clear sky,-35.3500,150.4667,Sandpiper Motel
15,Kapaa,US,78.80,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
18,Barreirinha,BR,75.87,broken clouds,-2.7933,-57.0700,Hotel e Restaurante Tupana Iwato
...,...,...,...,...,...,...,...
549,Isla Mujeres,MX,75.99,moderate rain,21.2311,-86.7310,Hotel La Joya Isla Mujeres
567,Macapa,BR,78.80,few clouds,0.0389,-51.0664,Atalanta Hotel
568,Aquiraz,BR,80.60,scattered clouds,-3.9014,-38.3911,Pousada Rua Camurupim
569,Ilheus,BR,78.80,scattered clouds,-14.7889,-39.0494,Pontal Praia Hotel
571,Trinidad,BO,78.22,overcast clouds,-14.8333,-64.9000,Hotel Piesta

In [122]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [120]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [121]:
# Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# diplay figure 
fig

Figure(layout=FigureLayout(height='420px'))