## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,2,Mataura,NZ,76.59,clear sky,-46.1927,168.8643,Ellie's Villa
1,9,Rikitea,PF,78.39,few clouds,-23.1203,-134.9692,Pension Maro'i
2,13,Ulladulla,AU,89.01,clear sky,-35.3500,150.4667,Sandpiper Motel
3,15,Kapaa,US,78.80,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
4,18,Barreirinha,BR,75.87,broken clouds,-2.7933,-57.0700,Hotel e Restaurante Tupana Iwato

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# diplay figure 
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,2,Mataura,NZ,76.59,clear sky,-46.1927,168.8643,Ellie's Villa
1,9,Rikitea,PF,78.39,few clouds,-23.1203,-134.9692,Pension Maro'i
2,13,Ulladulla,AU,89.01,clear sky,-35.3500,150.4667,Sandpiper Motel
3,15,Kapaa,US,78.80,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
4,18,Barreirinha,BR,75.87,broken clouds,-2.7933,-57.0700,Hotel e Restaurante Tupana Iwato
...,...,...,...,...,...,...,...,...
110,549,Isla Mujeres,MX,75.99,moderate rain,21.2311,-86.7310,Hotel La Joya Isla Mujeres
111,567,Macapa,BR,78.80,few clouds,0.0389,-51.0664,Atalanta Hotel
112,568,Aquiraz,BR,80.60,scattered clouds,-3.9014,-38.3911,Pousada Rua Camurupim
113,569,Ilheus,BR,78.80,scattered clouds,-14.7889,-39.0494,Pontal Praia Hotel
114,571,Trinidad,BO,78.22,overcast clouds,-14.8333,-64.9000,Hotel Piesta

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == "Buchanan"]
vacation_end = vacation_df.loc[vacation_df['City']== "Buchanan"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Mumford"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Port-Gentil"]
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Luanda"]

In [7]:
vacation_end["Lng"].to_numpy()

array([-10.0467])

In [8]:
vacation_end["Lat"].to_numpy()

array([5.8808])

In [9]:
vacation_end["Lat"].to_numpy()[0] , vacation_end["Lng"].to_numpy()[0]

(5.8808, -10.0467)

In [10]:
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
91,439,Buchanan,LR,75.2,scattered clouds,5.8808,-10.0467,Kamaneahn Hotel Inc

In [11]:
df = pd.Dataframe([start,stop1,stop2,stop3], ignore_index=True)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [ ]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0] , vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0] , vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0] , vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0] , vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0] , vacation_stop3["Lng"].to_numpy()[0]

start

In [ ]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
waypoints = [stop1, stop2, stop3]
directions = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode = "WALKING")

fig.add_layer(directions)
fig

In [ ]:
df = pd.Dataframe(start,stop1,stop2,stop3,end
                 Columns = ['City_ID','City','Country','Max Temp','Description','Lat','Lng', 'Hotel Name'])

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function
itinerary_df = pd.concat(['city'],ignore_index=True)
itinerary_df

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure